<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [['', {controller: 'preferences', action: 'ajax_index', nav_section: session[:nav_section]}], [t('activerecord.models.bookmark')]]} %>
</nav>
<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {controller: 'preferences', action: 'ajax_index', nav_section: session[:nav_section]}, id_attr: 'toolbar-ok-btn', class_attr: 'toolbar-btn'} %>
</div>
