<tr>
  <td><%= expired_notice.message %></td>
  <td class="update_col"><%= format_time expired_notice.updated_at, "mdhm" %></td>
  <td class="operation_col">
    <%= link_to("再掲示", {controller: "notices", action: "ajax_open", id: @course.id, notice_id: expired_notice.id}, {class: "bright-link", remote: true}) %>
  </td>
  <td class="operation_col">
    <% if expired_notice.manager_id == session[:id] %>
        <%= link_to("削除", {controller: "notices", action: "ajax_destroy", id: @course.id, notice_id: expired_notice.id}, {class: "bright-link", remote: true}) %>
    <% end %>
  </td>
</tr>
