<div id="note-resource" class="scroll-pane">
  <div class="row" id="edit-note">
    <div class="col-md-12">
      <div class="head">
        <div class="header-explanation">
          <%= t('.required') %>：<span class="required">*</span>
        </div>
        <h1><%= t('activerecord.others.note.category.' + @note.category) %></h1>
        <%= render partial: 'notes/form', locals: {submit_hash: {action: 'ajax_update', id: @note.id}, cancel_hash: {action: 'ajax_show', id: @note.id}} %>
      </div>
      <div id="note-items" class="block">
        <%= render partial: 'notes/note_item', collection: @note_items, locals: {editable_snippet: false} %>
      </div>
    </div>
  </div>
</div>
