<div id="header-snippets">
  <% if !headers.size.zero? %>
  <span class="badge badge-secondary"><%= t('.index') %></span>
  <ol>
    <% headers.each do |header| %>
    <li><%= link_to(sanitize(header[:title]), "#item_#{header[:id]}", {class: 'scroll', target: '_self'})  %></li>
    <% end %>
  </ol>
  <% end %>
</div>
