<% if sources.size > 0 %>
<h2>注目のWebページ</h2>
<div class="block clearfix">
  <%= render partial: 'notes/source', collection: sources, locals: {resource: 'course_index', course_id: course_id} %>
</div>
<% end %>
