<div id="note-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
      <% case session[:nav_section] when 'home' %>
      <%= render 'notes/index_home' %>
      <% when 'open_courses', 'repository' %>
      <%= render 'notes/index_courses' %>
      <% end %>
    </div>
  </div>
</div>
