<div id="note-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
      <%= render 'index_' + session[:nav_section] if %w[home open_courses].include? session[:nav_section] %>
    </div>
  </div>
</div>
