<div class="card-subtitle text-right text-muted">
  <%= raw("<i class='fa fa-lock'></i> ") if !note.review_or_open? %>
  <%= t(".#{note.category}") %>
  <%= ' / ' + get_short_string(course_combined_title(note.course), char_limit) if note.course && session[:nav_section] == 'home' %>
</div>
