<div id="content-resource" class="scroll-pane">
  <div class="row" id="new-content">
    <div class="col-md-12">
      <h1>教材の新規作成
        <div class="header-explanation">設定必須項目：<span class="required">*</span></div>
      </h1>
      <%= render partial: "form", locals: {submit_action: 'ajax_create'} %>
    </div>
  </div>
</div>
