<%#= f.error_messages %>
<div class="bordered-block">
	<h2>お知らせの更新</h2>
	<div class="form-group row">
		<div class="col-md-8">
			<%= f.text_area :message, rows: '5', value: value, class: 'elastic_textarea form-control' %>
			<div class="button-block">
				<% nav_id = (@course_id && (@course_id > 0)) ? @course_id : 0 %>
				<%= render partial: 'layouts/buttons/cancel', locals: {action_hash: {action: 'ajax_edit_notice', nav_section: session[:nav_section], nav_id: nav_id}} %>
				<span style="margin-left:1rem;">
					<%= render partial: 'layouts/buttons/update' %>
				</span>
			</div>
		</div>
	</div>
</div>
