<div style="margin: 5px 210px 10px;">
  <%= render partial: 'layouts/file_submit_button', locals: {f: f, file_category: form_id, form_id: 'snippet-file-upload'} %>
</div>
<div style="margin: 5px 210px 10px;">
  <a id="<%= 'cancel-' + form_id %>" class="btn btn-secondary" style="cursor:pointer;" title="cancel"><i class="fa fa-times-circle fa-lg"></i> <%= t('views.cancel') %></a>
</div>
