<div id="snippet-resource" class="scroll-pane">
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <%= render partial: 'layouts/note_header', locals: {editable_snippet: true}  %>
        <%= render(partial: 'snippets/create_snippet_btns', locals: {display_order: 0, note_id: @note.id}) %>
        <%= render partial: 'snippets/snippets' %>
      </div>
    </div>
  </div>
</div>
