//
// CSS for note-resource
//

@import 'components/file_submit_btn';
@import 'components/versatile_cards';

#resource #note-resource {
  @include file-submit-btn;
  @include group-card;
  @include note-card;
  @include note-header-card;
  @include snippet-card;
  @include source-card;

  div.head {
    margin-bottom: 1rem;
    max-width: 720px;
    h1 {
      font-size: 16pt;
      line-height: 30px;
      margin-bottom: 4px;
      padding-left: 15px;
      text-align: center;
    }
  }
  .create-snippet-btn {
    margin-left: 12px;
    width: 100px;
    &:hover {
      color: #000;
    }
  }
  .operation-direct {
    clear: both;
    height: 20px;
    a {
      color: #aaa;
      display: block;
      float: right;
      font-size: 12pt;
      padding: 0 10px;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  .form-group label.active {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
  }
  #references {
    margin-top: 30px;
    h1 {
      margin: 0;
    }
    ol {
      margin-top: 0;
      li {
        margin-left: 0;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  div.snippet-file-submit-button {
    height: 32px;
    width: 140px;
    button {
      width: 120px;
    }
  }
}
