//
// CSS for note-resource
//

@import 'components/versatile_cards';

#resource #note-resource {
  @include group-card;
  @include note-card;
  @include note-header-card;
  @include snippet-card;
  @include source-card;

  #references {
    margin-top: 30px;
    h1 {
      margin: 0;
    }
    ol {
      margin-top: 0;
      li {
        margin-left: 0;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
