<td class="text-center">
	<% if display %>
	<%= ratio %><progress value="<%= ratio %>" max="100" class="progress progress-<%= style %>" style="width:70%;float:right; margin-bottom:0;"></progress>
	<% else %>
	<span class="no-bar">---</span>
	<% end %>
</td>
