<h2 class="card-header"><%= t('.goal_achievement_rate') %></h2>
<table id="goals-achievements" class="table table-condensed">
  <tbody>
    <% if eval_category == 'none' %>
    <tr>
      <th class="width280"></th>
      <th class="width120"></th>
      <th class="width240 text-center"><%= t('.goal_achievement_rate') %> [%]</th>
    </tr>
    <% else %>
    <tr>
      <th class="width280" rowspan="2"></th>
      <th class="width120" rowspan="2"></th>
      <th class="width240 text-center" colspan="2"><%= t('.goal_achievement_rate') %> [%]</th>
    </tr>
    <tr>
      <th class="width120 text-center">自己評価</th>
      <th class="width120 text-center">教師評価</th>
    </tr>
    <% end %>
    <%= render partial: 'goal_objective_report', collection: goal_reports(@course, @lessons, @learners, @course_role), locals: {eval_report: (eval_category != 'none')} %>
  </tbody>
</table>
