<div class="snippet-card card">
  <div class="main-area">
    <div class="body" style="font-size:small;">
      <% if snippet.description.empty? %>
      <%= t('.input_pdf_text') %>
      <% else %>
      <% add_br_body = add_br snippet.description %>
      <%= auto_link(sanitize(add_br_body), html: { target: '_blank' }) %>
      <% end %>
    </div>
    <%= render(partial: 'snippets/items/footer_web', locals: {snippet: snippet}) %>
  </div>
</div>
