<div id="course-member-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<!-- <div class="block"> -->
			<!-- FIXME: No need? -->
			<!-- <%#= render(partial: 'signin_reports') %> -->
			<!-- </div> -->
			<div class="block">
				<%= render(partial: 'members', locals: {title: t('activerecord.attributes.course.managers'), users: @course.managers}) %>
				<%= render(partial: 'members', locals: {title: t('activerecord.attributes.course.assistants'), users: @course.assistants}) %>

				<% if @course.groups_count == 1 %>
				<!-- Without Groups (Only One Group) -->
				<%= render(partial: 'members', locals: {title: t('activerecord.attributes.course.learners'), users: @course.learners}) %>

				<% else %>
				<!-- With Groups -->
				<!-- #FIXME: Group work -->
				<% @course.groups_count.times do |g| %>
				<% learners = @course.learners_in_group g %>
				<%= render(partial: 'members', locals: {title: t('.group', index: g + 1), users: learners}) %>
				<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
