<%= render(partial: 'snippets/web_snippet/bookmarklet_base', locals: {bgcolor: '#c00'}) %>
<div id="lepo_bookmarklet_content" style="color:#fff;font-weight:normal;font-style:normal;font-size:24pt;font-family:'游ゴシック体','Yu Gothic','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo',sans-serif;line-height: 100%;text-align:center;position:fixed;top:40px;left:50%;z-index:2147483647;margin:0 0 0 -200px;padding:0;">
  <% if @warning_message %>
  <%= @warning_message %>
  <% else %>
  LePoへの保存に失敗しました
  <% end %>
</div>
