<nav id="sub-nav">
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: [[t('views.navs.top'), {controller: 'preferences', action: 'ajax_index', nav_section: session[:nav_section]}], [t('activerecord.models.link')]]} %>
</nav>
<div id="toolbar-btns">
  <%= link_to({controller: 'preferences', action: 'ajax_index', nav_section: session[:nav_section]}, {class: "toolbar-btn", remote: true}) do %>
  <i class="fa fa-check-circle"></i> <%= t('views.ok') %>
  <% end %>
</div>
