<div id="toolbar-btns">
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: {controller: 'contents', action: 'ajax_show', id: @content.id}, id_attr: 'toolbar-ok-btn', class_attr: 'toolbar-btn'} %>
</div>
