# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base:

# Used to access IMS OneRoster v1.1 API Server when SYSTEM_ROSTER_SYNC is on
oneroster:
  token:
  url_prefix:
  school_sourced_id:

# Used to push notifications with Firebase Cloud Messaging
fcm_authorization_key:
