<div id="preference-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<div class="block">
				<%= render partial: 'preference', locals: {header: "#{t('.user_preferences')}", preferences: current_user.preferences} %>
				<%= render partial: 'preference', locals: {header: "#{t('.system_preferences')}", preferences: current_user.system_preferences} unless current_user.system_preferences.size.zero? %>
			</div>
		</div>
	</div>
</div>
