<div id="preference-resource" class="scroll-pane">
	<div class="row">
		<div class="col-md-12">
			<div class="block">
				<h1><%= t('helpers.update') %></h1>
				<h2><%= t('.version_header', from_ver: '0.2.2', to_ver: '0.2.3') %></h2>
				<%= render partial: 'update_0_2_3' %>
			</div>
		</div>
	</div>
</div>
