<% case snippet.source_type when "upload" %>
<div class="snippet-direct">
  <div class="body" style="max-width: 640px; margin: 0 auto 10px; text-align: center;">
    <img src="<%= snippet.description %>" style="max-width: inherit;">
  </div>
  <%= render(partial: "layouts/snippets/operations_upload", locals: {snippet: snippet})  if editable_snippet %>
</div>

<% when "web" %>
<div class="snippet-card card">
  <div class="main-area">
    <div class="snippet-image">
      <img src="<%= snippet.description %>">
    </div>
    <%= render(partial: "layouts/snippets/footer", locals: {snippet: snippet}) %>
  </div>
</div>
<% end %>
