<div class="form-group row">
  <label class="col-md-3 col-form-label text-sm-right"><span class="<%= required_class required %>">*</span>目標</label>

  <div class="col-md-8">
    <%= goal_form.text_field :title, class: 'form-control' %>
  </div>
</div>
