<div id="course-resource" class="scroll-pane">
  <div class="row" id="new-course">
    <div class="col-md-12">
      <h1>コースの新規作成
        <div class="header-explanation">設定必須項目：<span class="required">*</span></div>
      </h1>
      <%= render partial: 'form', locals: {submit_action: 'ajax_create'} %>
    </div>
  </div>
</div>
