<div id="course-resource" class="scroll-pane">
  <div class="row" id="new-course">
    <div class="col-md-12">
      <h1>コースの新規作成</h1>
      <%= render partial: 'form', locals: {submit_action: 'ajax_create'} %>
    </div>
  </div>
</div>
