<div id="candidates">
	<%= render partial: 'layouts/system_message', locals: {message: flash[:message], message_category: flash[:message_category]} %>
	<% if @candidates %>
	<div class="bordered-block clearfix">
		<h2>2. <%= t('.select_course') %></h2>
		<%= render(partial: 'course_candidates', locals: {title: t('.current_course'), courses: @candidates}) %>
	</div>
	<% end %>
</div>
