<nav id="sub-nav">
  <% crumbs = course_crumbs @course.id, @lesson.display_order, @lesson.status, session[:nav_section], session[:page_num] %>
  <%= render partial: 'layouts/breadcrumb', locals: {crumbs: crumbs} %>
  <%= render partial: 'layouts/page_number', locals: {pg: pg, lesson_id: @lesson.id} %>
</nav>

<div id="toolbar-btns">
  <div class="btn-group">
    <div id="sticky-toolbar">
      <% url_hash = {action: 'ajax_arrange_sticky_panel', content_id: @content.id, target_type: 'PageFile', target_id: pg['file_id'], sticky_panel: 'show'} %>
      <%= render partial: 'stickies/toolbar', locals: {stickies: pg['stickies'], url_hash: url_hash} %>
    </div>
  </div>
</div>
