<div id="toolbar-btns">
  <%= link_to({action: "ajax_edit", id: @course.id}, {class: "toolbar-btn", remote: true}) do %>
      <i class="fa fa-arrow-left"></i> 戻る
  <% end %>
  <%= render partial: 'layouts/buttons/ok', locals: {action_hash: get_url_hash(@course.id, @course.status), id_attr: 'toolbar-ok-btn'} %>
</div>
