<section id="signin-nav">
	<h1><%= SYSTEM_NAME %></h1>
	<ul>
		<%= render(partial: 'layouts/nav_item', collection: [{nav_section: 'signin', nav_controller: 'signin', title: t('activerecord.models.signin'), class: 'fa fa-sign-in fa-lg'}]) %>
	</ul>
</section>

<section id="bookmark-nav">
	<%= render(partial: 'layouts/nav_bookmarks') %>
</section>
