<div id="left-btns" class="btn-group dropup">
  <div class="toolbar-btn"><i class="fa fa-plus" title="<%= t('.add') %>"></i></div>
</div>
<div id="right-btns">
  <div class="toolbar-btn"><i class="fa fa-sign-out" title="<%= t('.signout') %>"></i></div>
</div>
