//
// variables & mixins for color
//

$course-color: #bd0;
$learner-color: #0df;
$staff-color: #f0d;
$private-color: #fd0;
$pending-color: #bbb;

$list-header-color: #f2f2f2;

$assignment-color: #800;
$assignment-background-color: #fee;

$cover-color: #080;
$cover-background-color: #efe;

$draft-color: #eee;
$return-color: #080;
$return-background-color: #ded;
$inactive-background-color: #eee;
