//
// variables & mixins for toolbar
//

$toolbar-bgcolor: #e8e8e8;
$toolbar-color: #333;
$toolbar-hover-color: #0af;
$toolbar-disabled-color: #aaa;
$toolbar-height: 32px;
$sub-pane-toolbar-width: 240px;
