<% if stickies.size > 0 %>
<h2><%= t('.hot_stickies') %></h2>
<div class="block show clearfix">
	<%= render partial: 'stickies/sticky', collection: stickies, locals: {view_category: 'hot'} %>
</div>
<% end %>
