<div class="file-submit-button">
  <%= f.file_field :upload, {id: "#{form_id}"} %>
  <button type="submit" id="<%= file_category %>-file-submit-btn" class="btn btn-light">
    <i class="fa fa-file fa-lg"></i> ファイルを選択
  </button>
  <button disabled id="<%= file_category %>-file-progress-btn" class="btn disabled">
    <i class="fa fa-clock-o fa-lg"></i> 処理中
  </button>
</div>
