<% img_px = (size == 'l') ? '80' : '40' %>
<div class="image-<%= img_px %>px">
  <% if obj && obj.image? %>
  <%= image_tag obj.image.url('px'+img_px), class: 'rounded' %>
  <% else %>
  <i class="fa <%= fa_class %>"></i>
  <% end %>
</div>
