<iframe id="page-frame" name="page-frame" src="<%= pg['file'] %>" frameborder="0" marginheight="0" marginwidth="0" style="opacity: 0;" onload="this.style.opacity=1;"></iframe>

<div id="sticky-panel">
	<%= render(partial: 'stickies/sticky_panel', locals: { stickies: pg['stickies'] }) %>
</div>

<script>
$(function () {
	// To be able to call keyBinder even when clicking the content in the iframe
	keyBinder($(document.getElementById('page-frame').contentWindow));
	textHighlighter($(document.getElementById('page-frame').contentWindow), document.getElementById('page-frame').contentWindow);
})
</script>
