<div class="status-flow-bar">
  <div class="select-symbol-box">
    <i class = 'fa fa-check-square-o fa-lg selected-symbol'></i>
    <i class = 'fa fa-square-o fa-lg selectable-symbol'></i>
  </div>
  <div id="<%= s %>_title" class="title"><%= i+1 %>. <%= status_text s %>: <%= status_explanation_text s %></div>
</div>
