<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#444; margin:0; padding:0;">
  <%= yield %>
</body>
</html>
